<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESULT</title>
    <link rel="icon" type="image/x-icon" href="static/images/title.png">
    <link href="static/css/Result1.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
    integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
    crossorigin="anonymous" />
</head>

<body id='top' style="background-color:#d5ebf7">
    <section class="header_menu" id="header_menu" >
        <div class="container-fluid px-0 shadow">
            <nav class="navbar navbar-expand-lg navbar-light bg-white py-1">
                <a class="navbar-brand pl-5 pl-small-0" >
                    <img src="static/images/ckd_logo.jpeg" class="img img-fluid" width="120px" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/home" style="color:rgba(19, 88, 179, 0.795)">HOME </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>

    <div container>
        <div class="font">
            <p> <sapn style="color: rgb(253, 36, 36);">Prediction: </sapn> {{answer1}}</p>
    
            <div class="polaroid-wrapper">
                <div class="polaroid">
                    <img class="one"src="static/images/rsckd.jpg" alt="5 Terre" width="300px" height="300px"></a>
                </div>
            </div>

            <div class="box1">
                <h2 class="hold">APPETITE</h2>
                <h6 class="para">If your appetite is poor, kindly concentrate on your food habits and eat well. 
                    Approximately one third of chronic kidney disease patient complain poor appetite.
                </h6>
            </div>
            <div class="box1">
                <h2 class="hold">ANEMIA</h2>
                <h6 class="para">If you said yes for anemia which means your blood has a lower than normal amount of red blood cells or
                    hemoglobin and it is less common in early stages of ckd. Proper diet and high protein content food helps you to come 
                    from anemia.
                </h6>
            </div>
            <div class="box1">
                <h2 class="hold">CORONARY ARTERY DISEASE</h2>
                <h6 class="para">If you said yes for coronary artery disease which means the more stress in put on your heart when 
                    kidney doest work well. The heart needs to pump harder to get blood to kidneys. Change in blood pressure is
                    one of the main complication for ckd.
                </h6>
            </div>
            <div class="box1">
                <h2 class="hold">PUS CEL</h2>
                <h6 class="para">The presence of pus cell in urine may indicate the presence of urinary tract infection it may leads to
                    other inflammatory kidney disease.
                </h6>
            </div>
            <div class="box1">
                <h2 class="hold">RED BLOOD CELL</h2>
                <h6 class="para">If you said abnormal for red blood cell which means the count of rbc is decreased and it is the main reason to cause anemia. And it is early 
                    warning signs of chronic kidney disease.
                </h6>
            </div>
            <div class="box1">
                <h2 class="hold">DIABETES MELLITUS</h2>
                <h6 class="para">Chronic kidney disease, also called chronic kidney failure, involves a gradual loss of kidney function. 
                    If you said yes for diabetes mellitus which is the main reason for kidney failure and it is a condition 
                    characterized by high glucose levels which damages the tiny filtering units of each kidney.
            </div>
            <div class="box1">
                <h2 class="hold">PEDAL EDEMA</h2>
                <h6 class="para">If you said yes for pedal edema it is most common symptom in chronic kidney disease patients and it occurs 
                    due to the loss of functioning of kidney. 
                </h6>
            </div>
    
        </div>
    </div>
</body>
</html>