*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html,body{
  height: 100%;
  width: 100%;
}
ul li{
    list-style: none;
    font-size: 16px;
    font-family:Arial;
    margin-left:48px;
}
ul li a{
    text-decoration: none;
    color: rgba(19, 88, 179, 0.795);
    font-weight: bold;
}
.container{
    width:1200px;
    height:auto;
    margin:auto;
}
.font{
    font-size: 28px;
    padding: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
.polaroid-wrapper{
    padding-inline: 100px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: space-evenly;
}
@media screen and (max-width: 664px) {
    .polaroid-wrapper{
      flex-direction: column;
    }
}
@media screen and (max-width: 664px) {
    div.polaroid{
      width: 300px;
      height:300px;
  
    }
}
div.box1 .hold{
    text-align: left;
    font-size: 23px;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
    font-weight: bold;  
}
div.box1 .para{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding-left: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: justify;
}